In [0]:
CREATE TABLE tb_people (
    id INT, 
    name STRING, 
    birth DATE
) USING DELTA

In [0]:
SHOW TABLES;

In [0]:
DESCRIBE tb_people;

In [0]:
DESCRIBE DETAIL tb_people;

In [0]:
INSERT INTO tb_people (id, name, birth) 
VALUES (1, 'Arthur', '1990-01-01');

In [0]:
INSERT INTO tb_people (id, name, birth) 
VALUES 
  (2, 'Maria', DATE('1995-05-15')),
  (3, 'John',  DATE('1988-09-30'));

In [0]:
INSERT INTO tb_people (id, name, birth) 
SELECT 
  id,
  firstName,
  birthDate
FROM delta.`dbfs:/databricks-datasets/learning-spark-v2/people/people-10m.delta`
WHERE id > 3;

In [0]:
SELECT * FROM tb_people ORDER BY id;

In [0]:
UPDATE tb_people SET birth = '1991-01-07' WHERE id = 1;

In [0]:
SELECT * FROM tb_people WHERE id = 1;

In [0]:
DELETE FROM tb_people WHERE id = 2;

In [0]:
SELECT * FROM tb_people WHERE id = 2;

In [0]:
CREATE TABLE tb_people_2 
  AS 
SELECT * FROM tb_people LIMIT 0;

INSERT INTO tb_people_2 (id, name, birth) 
VALUES
(1, "Arthur Luz", "1991-07-01"),
(2, "Heitor Luz", "1985-12-16");

In [0]:
SELECT * FROM tb_people_2 ORDER BY id;

In [0]:
MERGE INTO tb_people AS target
USING tb_people_2 AS source
ON target.id = source.id
WHEN MATCHED THEN
  UPDATE SET *
WHEN NOT MATCHED BY TARGET
  THEN INSERT *
WHEN NOT MATCHED BY SOURCE 
  THEN DELETE;

In [0]:
SELECT * FROM tb_people ORDER BY id;

In [0]:
DROP TABLE tb_people_2;

In [0]:
SHOW TABLES;