In [0]:
spark.sql("DESCRIBE tb_people").show()
spark.sql("SELECT * FROM tb_people ORDER BY id").show()

In [0]:
df_without_one_col = spark.sql("SELECT 3 AS id, 'Ulisses Luz' AS name")
df_without_one_col.printSchema()
df_without_one_col.show()

In [0]:
(
    df_without_one_col.write
                         .mode('append')
                         .saveAsTable('tb_people')
)

In [0]:
spark.sql("SELECT * FROM tb_people ORDER BY id").show()

In [0]:
df_with_new_col = spark.sql("""
    SELECT 
        4 AS id, 
        'Nicole Gode' AS name, 
        DATE('1997-11-13') AS birth, 
        'female' AS gender
""")
df_with_new_col.printSchema()
df_with_new_col.show()

In [0]:
df_with_new_col.write \
    .mode('append') \
    .saveAsTable('tb_people')

In [0]:
df_with_diff_schema_col = spark.sql("""
    SELECT 
        4 AS id, 
        'John Smith' AS name, 
        '1985-08-23' AS birth
""")
df_with_diff_schema_col.printSchema()
df_with_diff_schema_col.show()

In [0]:
(
    df_with_diff_schema_col.write
        .mode('append')
        .saveAsTable('tb_people')
)

In [0]:
df_with_uppercase_col = spark.sql("""
    SELECT 
        4 AS ID, 
        'John Smith' AS NAME, 
        DATE('1985-08-23') AS BIRTH
""")
df_with_uppercase_col.printSchema()
df_with_uppercase_col.show()

In [0]:
(
    df_with_uppercase_col.write
        .mode('append')
        .saveAsTable('tb_people')
)

spark.sql("SELECT * FROM tb_people ORDER BY id").show()